*{
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: #F37724;
    height: 58px;
    margin: auto;
    text-align: center;
}

header img {
    height: 70px;
    text-align: center;
}

header i {
    height: 30px;
    text-align:right;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    z-index: -1;
}

.sectionLogIn {
    background-color: #FFFFFF;
    border-radius: 20px;
    margin-top: 40vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 246px;
    height: 206px;
}

.sectionLogIn p{
    display: none;
}

.sectionLogIn input {
    background-color:#F0F0F0 ;
    color: black;
    border: none;
    margin: 10px;
    border-radius: 10px;
    width: 200px;
    height: 40px;
}

.sectionLogIn input::placeholder{
    color: rgba(38, 38, 38, 0.89);
    padding: 15px;
    font-weight: bold;
    text-align: center;
}

.sectionLogIn a{
    color: rgb(20, 20, 20);
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}

.sectionLogIn button{
    background-color:#A6D48A ;
    font-weight: bold;
    color: white;
    border: none;
    margin: 10px;
    border-radius: 30px;
    width: 166px;
    height: 35px;
    font-weight: bold;
}
.sectionLogIn button:hover {
    background-color:black ;
    cursor: pointer;
    transition: 0.5ms;
}

#sigInMobile {
    margin: 10px;
    display:flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#sigInMobile p{
    color: white;
    font-weight: bold;
}

#sigInMobile a{
    display: flex;
    color: #F37724;
    font-weight: bold;
}

.registerView {
    background-color: #FFFFFF;
    border-radius: 20px;
    margin-top: 15vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 320px;
}
.registerView h2{
    color: #7989EC;
    margin-block-end: 1.5em;
}

.registerView input {
    background-color:#F0F0F0 ;
    color: black;
    border: none;
    margin: 6px;
    border-radius: 10px;
    width: 200px;
    height: 25px;
    text-align: center;
    padding: 0.5em;
}

.registerView #bottonRegister{
    background-color:#A6D48A ;
    color: white;
    border: none;
    margin: 10px;
    border-radius: 30px;
    width: 166px;
    height: 35px;
    font-weight: bold;
}

.registerView #bottonRegister:hover{
    background-color:black ;
    cursor: pointer;
    transition: 0.5ms;
}
#letter{
    display: none;
}
#sectionGoogle p{
font-family: 'Roboto', sans-serif;
color: #FFFFFF ;
}

#bottonGoogle{
    background: #4285F4

}

#imgGoogle{
    width: 3em;
    height: 3em;
    background: #FFFFFF;
}

footer {
    display: none;
}


@media screen and (min-width: 768px) and (max-width:1023px){
    header {
        height: 130px;
    }
    header img {
        height: 140px;
    }
    .sectionLogIn {
        background-color: #FFFFFF;
        border-radius: 20px;
        margin-top: 28vh;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 300px;
        height: 300px;
    }
    .sectionLogIn p {
        display: block;
        color: #7989EC;
        padding: 0.5em;
        font-weight: bold;
    }

    .sectionLogIn input {
        margin: 8px;
        width: 250px;
    }

    .sectionLogIn input::placeholder{
        color: rgba(38, 38, 38, 0.89);
        padding: 15px;
        font-weight: bold;
        text-align: center;
        font-size: 18px;
    }
    #sigInMobile{
        margin: 10px 40px 10px 10px;
        display:flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        position: absolute;
        bottom: 14.5em;
    }
    
    #sigInMobile p{
        display: none;
    }

    .lineRight {
        background-color: black;
        width: 6em;
        position: absolute;
        bottom: 17em;
        margin: 0 8em 0 0;
    }
    #letter{
        display: flex;
        position: absolute;
        color: black;
        font-weight: bold;
        /* font-size: 50px; */
        top: 40.2em;
        margin: 0;
    }
    .lineLeft {
        background-color: black;
        width: 6em;
        position: absolute;
        bottom: 17em;
        right: 1em;
        margin: 0 16em 0 0;
    };
    footer {
        background-color:#D9D9D9;
        display: flex;
        width: 824px;
        height: 60px;
        text-align: center;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: 0;
    }

}

@media screen and (min-width:1024px) {
    main{
        display: flex;
        flex-direction: column;
        justify-content:right;
        align-items:flex-end;
        margin-right: 50px;
        height: auto;
    }

    header {
        background-color: #F37724;
        height: 112px;
        margin: auto;
        text-align: center;
    }
    
    header img {
        height: 140px;
        padding-bottom: 30px; 
    }

    .sectionLogIn {
        background-color: #FFFFFF;
        border-radius: 20px;
        margin-top: 6vh;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 400px;
        height: 410px;
    }
    .sectionLogIn p{
        display: flex;
        color: #7989EC;
        font-size: 28px;
        margin: 25px;
        font-weight: bold;
        position: absolute;
        top: 5.5em;
    }

    .sectionLogIn input::placeholder{
        color: rgba(38, 38, 38, 0.295);
        padding: 15px;
        text-align: center;
        font-size: 25px;
    }

    .sectionLogIn button{
        background-color:#A6D48A ;
        color: white;
        font-size: 22px;
        margin-top: 40px;
        width: 306px;
        height: 64px;
        font-weight: bold;
    }

    #sigInMobile{
        margin: 20px 150px -5px 10px;
        display:flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        position: absolute;
        bottom: 11.5em;
    }
    #sigInMobile p{
        display: none;
    }
    .sectionLogIn input {
        background-color:#F0F0F0 ;
        font-size: 25px;
        color: black;
        border: none;
        margin: 0 0 1em 0;
        border-radius: 10px;
        width: 350px;
        height: 50px;
        text-align: center;
    }

    .lineRight {
        background-color: black;
        width: 8em;
        position: absolute;
        bottom: 14em;
        margin: 0 11em 0 0;
    }
    #letter{
        display: flex;
        position: absolute;
        color: black;
        top: 18em;
        margin: 0;
        font-weight: bold;
    }
    .lineLeft {
        background-color: black;
        width: 8em;
        position: absolute;
        bottom: 14em;
        right: 1em;
        margin: 0 5.6em 0 0;
    };
    #sigInMobile p{
        display: none;
    }

    footer {
        background-color:#D9D9D9;
        display: flex;
        width: 1440px;
        height: 102px;
        text-align: center;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: 0;
    }
    .fa-js {
        font-size: 10px;
    }

    .copyRightsContainer{
        display: flex;
        justify-content: space-between;
        padding: 5px;
        font-family: 'Montserrat', sans-serif;
    }

    .copyRightsContainer i{
        font-style: normal;
        font-family: 'Montserrat', sans-serif;
    }

}