*{
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: #F37724;
    height: 58px;
    margin: auto;
    text-align: center;
    width: 100%;
}

header img {
    height: 70px;
    text-align: center;
}

main{
    flex-direction: column;
    justify-content: center;

}

#LogInP {
    display: none;

}

main video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    z-index: -1;
}
#mainLogin{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    height: auto;
}

.sectionLogIn {
    background-color: #FFFFFF;
    border-radius: 20px;
    margin-top: 40vh;
    padding: 10px;
    flex-direction: column ;
    justify-content: space-around;
    align-items: center;
    width: 246px;
    height: 206px;
    position: relative;
    display: flex;
}


.sectionLogIn input {
    background-color:#F0F0F0 ;
    color: black;
    border: none;
    border-radius: 10px;
    height: 300px;
    width: 200px;
    top:10px;
    margin-top: 15px;
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.sectionLogIn input::placeholder{
    color: rgba(38, 38, 38, 0.295);
    padding: 15px;
    font-weight: bold;
    text-align: center;
    font-size: 15px;
}

.sectionLogIn a{
    color: rgb(20, 20, 20);
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}

.sectionLogIn button{
    background-color:#A6D48A ;
    font-weight: bold;
    color: white;
    border: none;
    margin: 10px;
    border-radius: 30px;
    width: 166px;
    height: 35px;
}
.sectionLogIn button:hover {
    background-color:black ;
    cursor: pointer;
    transition: 0.5ms;
}

#sigInMobile {
    position: relative;
    display:flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    top:4em;
}

#sigInMobile p{
    color: white;
    font-weight: bold;
    margin: 0 10px 0 0;
}
#linkRegister{
    background-color: rgba(255, 255, 255, 0);
    border-color: rgba(255, 255, 255, 0);
    color: black;
    font-weight: bold;
    font-size: 15px;
}

#sigInMobile a{
    display: flex;
    color: black;
    font-weight: bold;
}

.registerView {
    background-color: #FFFFFF;
    border-radius: 20px;
    margin-top: 4vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 320px;
}
.registerView h2{
    color: #7989EC;
    display: flex;
    position: absolute;
    top: 8em;
    /* margin-block-end: 1.5em; */
}

.registerView input {
    background-color:#F0F0F0 ;
    color: black;
    border: none;
    margin: 6px;
    border-radius: 10px;
    width: 200px;
    height: 25px;
    text-align: center;
    padding: 0.5em;
}

.registerView #bottonRegister{
    background-color:#A6D48A ;
    color: white;
    border: none;
    margin: 10px;
    border-radius: 30px;
    width: 166px;
    height: 35px;
    font-weight: bold;
}

.registerView #bottonRegister:hover{
    background-color:black ;
    cursor: pointer;
    transition: 0.5ms;
}
#letter{
    display: none;
}

#sectionGoogle{
    display: block;
    position: relative;
}

#sectionGoogle p{
font-family: 'Roboto', sans-serif;
color: #FFFFFF ;
font-size: 14px;
padding: 0 8px;
position: relative;
text-align: end;
}

#bottonGoogle{
    background: #4285F4;
    width: 15em;
    height: 40px;
    margin: 0;
    border-radius: 5px;
    border-color:#4285F4;
    border-width: 2px;
}

#imgGoogle{
    display: flex;
    position: absolute;
    width: 22px;
    height: 22px;
    background: #FFFFFF;
    padding: 7px;
    top:1.5px;
    left:2.5px;

    
}
#feed{
    margin: 0;
    padding: 0;
    /*background: url('./resources/brunchWallpaper.jpg') 50% 50% no-repeat;*/
    background: url('./resources/saladWallpaper.jpg') 50% 50% no-repeat;
    /*background: url('./resources/background-feed.jpg') 50% 50% no-repeat;*/
    background-size: 100%;
    background-attachment:fixed;
}


#feedMainProfile {
    background: #ffffff83;
    margin: 10px;
    border-radius: 10px;
    padding: 5px;
    justify-content: center;
    display: grid;
    grid-gap: 5px;
    grid-template-rows: auto;
}

section#publishPost {
    align-items: center;
    justify-content: center;
    margin: 3px;
    padding-top: 50px;
    display: inline-block;
    text-align: center;
}

section#infoUser {
    display:inline-block;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 30%;
}

section#infoUser img {
    justify-content: center;
    width: 200px;
    height: 150px;
}
#feedMainProfile p {
    color: gray;
    text-align: center;
    }
    
#myFriends, #myFriends p{
    display: none;
    }

section#infoUser p {
    color: black;
}
#feedMainPost{
    display: grid;
    height: 62vh;
    grid-template-columns: 95%;
    width: 90%;
    margin: 3em 0.8em 0 0.8em;
    background: white;
    border-radius: 15px;
    justify-content: center;
    }

#feed #feedMainPost {
    background: #ffffff92;
    border-radius: 10px;
    padding: 5px;
    width: 92%;
    margin-right: 2em;
    height: 100%;
}

#feed #feedMainPost h1{
    color: black;
}

form#publishRecipe {
    margin: 5px;
}

/* section#publishPost {
    padding-top: 50px;
    display: inline-block;
    text-align: center;
} */
input#recipeName {
    width: 60%;
    height: 60px;
    margin: 10px 0 10px 0;
    border-radius: 10px;
    border: 0;
    box-shadow: 0 13px 27px -5px rgba(50,50,93,0.25), 0 8px 16px -8px rgba(74, 167, 182, 0.3);
    font-size: 20px;
}

textarea {
    width: 80%;
    height: 100px;
    margin: 10px 0 20px 0;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 13px 27px -5px rgba(50,50,93,0.25), 0 8px 16px -8px rgba(74, 167, 182, 0.3);
    font-size: 20px;
}

#btnPublishRecipe {
    width: 70%;
    height: 50px;
    border-radius: 10px;
    background: rgb(0, 0, 0);
    color: #F0F0F0;
    font-weight: bold;
    font-size: 18px;
}
#publishTitle{
    font-size: 21px;
}


/* #feedMainProfile{
justify-content: center;
display: grid;
grid-gap: 5px;
grid-template-rows: auto;
} */

#bottonMyProfile{
border-radius: 20px;
background-color: #7989EC; 
color: black;
grid-column: 2;
grid-row: 1;
margin-top: 45px;
height: 2.5em;
width: 10em;
font-weight: bold;
font-size: 16px;
border-style: none;
margin-left: -1em;
}
#bottonPostRecipe{
border-style: none;
border-radius: 20px;
background-color: #7989EC; 
opacity: 0.8;
color: black;
grid-column: 2;
grid-row: 2;
height: 2.5em;
width: 10em;
font-weight: bold;
font-size: 16px;
margin-left: -1em;
}
/* #feedMainProfile p {
color: gray;
text-align: center;
} */

#icon{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-top: 15px;
    justify-self: center;
}

/* #feedMainPost{
display: grid;
height: 62vh;
grid-template-columns: 95%;
width: 90%;
margin: 3em 0.8em 0 0.8em;
background: white;
border-radius: 15px;
justify-content: center;
} */

#titlePostMain{
color: #7989EC;
font-weight: bold;
margin-top: 10px;
}
#seePost{
margin-top: 3em;
text-align: center;
background: #F0F0F0;
border-radius: 15px;
}
#postPublic{
    width: 60px;
    height: 60px;
    border-radius: 50px;
    display: flex;
    position: absolute;
    bottom: 17em;
    left: 5em;
}
/* #myFriends, #myFriends p{
display: none;
} */
footer {
    display: none;
}

@media screen and (min-width: 767px) and (max-width:1023px){
    header {
        height: 130px;
    }
    header img {
        height: 140px;
    }
    #mainLogin{
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items:center;
        height: auto;
    }
    .sectionLogIn {
        margin-top: 20vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 350px;
        height: 380px;
        
    }
    #sigInMobile a{
        font-size: 18px;
        margin-left: 15px ;
        color: #F37724;
    }
    #LogInP {
        display: flex;
        color: #7989EC;
        font-size: 28px;
        margin-bottom: 10px;
        font-weight: bold;
        position: relative;
        top: 15px;
        margin-top: 10px;
    }

    .sectionLogIn input {
        margin: 12px;
        width: 300px;
        position: relative;
    }

    .sectionLogIn input::placeholder{
        color: rgba(38, 38, 38, 0.295);
        padding: 15px;
        font-weight: bold;
        text-align: center;
        font-size: 21px;
    }
    .sectionLogIn button{
        background-color:#A6D48A ;
        font-weight: bold;
        color: white;
        border: none;
        margin: 10px;
        border-radius: 30px;
        width: 250px;
        height: 55px;
        font-size: 21px;
    }

    #sigInMobile{
        display:flex;
        position: relative;
        top:0;
    }
    #linkRegister{
        color: #F37724;
        font-weight: bolder;
        background-color: rgba(255, 255, 255, 0);
        border-color: rgba(255, 255, 255, 0);font-size: 20px;   
        top: 1em; 
    }
    #sigInMobile p{
        display: none;
    }

    .lineRight {
        background-color: black;
        width: 7em;
        margin-right: 15px;
        display: inline-block;
    }
    
   #letter{
    display: inline-block;
}
    #sectionLogIn #letter{
        position:relative;
        color: black;
        display: inline-block;
    }
    .lineLeft {
        background-color: black;
        width: 7em;
        position: relative;
        margin-left: 15px;
        display: inline-block;
    }
    #separator{
        position: static;
        height: 5px;
        display: block;
    }
    #registerView input {
        display: block;
        width: 260px;
    }
    #registerView h2{
        display: block;
        position: absolute;
        top: 12.5em;
    }
    .registerView {
        width: 300px;
        height: 340px;
    }

    .lineRightRegister {
        background-color: black;
        width: 8em;
        position: absolute;
        bottom: 23.5em;
        margin: 0 10em 0 0;
    }
    /* #letter{
        display: block;
        font-size: 20px;
    } */

    .lineLeftRegister {
        background-color: black;
        width: 8em;
        position: absolute;
        bottom: 23.5em;
        right: 1em;
        margin: 0 13.5em 0 0;
    }
    /* #sectionGoogle{
        display: block;
    } */
    #sectionGoogle{
        display: block;
        position: absolute;
        /* bottom: 40em; */
        bottom: 20em;
    }
    #feed{
        display: grid;
        height: 100vh;
        width: 100%;
        grid-template-columns: 30% 70%;
    }
    #feedMainProfile{
    justify-content: center;
    grid-template-columns: 0;
    grid-gap: 0;    
    grid-template-rows: 0;
    display: flex;
    position: relative;
    width: 100%;
    height: 35%;
    margin: 3em 0.8em 1em 0.8em;
    background-color: white;
    border-radius: 1em;

    }
    #bottonMyProfile{
        position: absolute;
        top: 8em;
        border-radius: 20px;
        background-color: black;
        color: white;
        grid-column: 0;
        grid-row: 0;
       font-size: 20px;
       margin-left: 0;
        }
        #bottonPostRecipe{
        position: absolute;
        top: 13em;
        font-size: 20px;
        border-style: none;
        border-radius: 20px;
        background-color: black; 
        color: white;
        grid-column: 0;
        grid-row: 0;
        margin-left: 0;
        }
        #feedMainProfile p {
            position: absolute;
            top: 8em;
            font-size: 20px;
        }
        
        #icon{
            width: 120px;
            height: 120px;
        }
        #feedMainPost{
            display: grid;
            height: 100vh;
            grid-template-columns: 90%;
            text-align: center;
            width: 90%;
            margin: 3em 0.5em 0 1.5em;
            background: white;
            border-radius: 15px;
            justify-content: center;
            }

            #feedMainPost textarea{
                width: 30em;
                height: 10em;
            }
            #titlePostMain{
                font-size: 30px;
            }
    #myFriends{
        display: grid;
        position: absolute;
        height: 30%;
        bottom: 7em;
        width: 28%;
        margin-left: 1em;
        background: white;
        border-radius: 20px;
    }
    #myFriends #titleMyFriends, #myFriends #nameFriend {
        display: block;
        color: #7989EC;
        font-size: 30px;
        text-align: center;
        margin-top: 10px;
        font-weight: bold;
        padding-top: 5px;
    }
    #iconMyFriend{
        border: 1px solid black;
        border-radius: 50%;
        width: 80px;
        height: 80px;
        position: absolute;
        top: 5em;
        justify-self: center;
    }
    #myFriends #nameFriend{
        font-size: 15px;
        color: black;
    }
    #postPublic{
    width: 80px;
    height: 80px;
    bottom: 36em;
    left: 19em;
    }
    
    footer {
        display: flex;
        background-color:#D9D9D9;
        width: 100%;
        height: 70px;
        text-align: center;
        align-items: center;
        justify-content: center;
        position: fixed;
        bottom: 0;
    }
    footer .creators{
    display: flex;
    position: absolute;
    bottom: 15px;
    font-size: 12px ;
    }
    .fa-js {
        font-size: 12px;
    }

    .copyRightsContainer{
        display: flex;
        justify-content: space-between;
        padding: 5px;
        font-family: 'Montserrat', sans-serif;
    }

    .copyRightsContainer i{
        font-style: normal;
        font-family: 'Montserrat', sans-serif;
    }

}

@media screen and (min-width:1024px) {
    #mainLogin {
        display: flex;
        flex-direction: column;
        justify-content:right;
        align-items:flex-end;
        height: auto;
    }
    #mainRegister{
        display: flex;
        flex-direction: column;
        justify-content:right;
        align-items:flex-end;
        margin-right: 50px;
        height: auto;
    }
    #mainFeed{
        display: flex;
        flex-direction: column;
        justify-content:right;
       /* align-items:flex-end;
        margin-right: 50px;*/
        height: auto;
    }

    header {
        background-color: #F37724;
        height: 120px;
        margin: auto;
        text-align: center;
        position: static; 
    }
    
    header img {
        height: 140px;
    margin-top: -5px;
    
    }

    .sectionLogIn {
        background-color: #FFFFFF;
        border-radius: 20px;
        margin-top: 6vh;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 400px;
        height: 440px;
        margin-right: 8em;
    }
    #LogInP {
        display: flex;
        color: #7989EC;
        font-size: 28px;
        margin: 25px 25px;
        font-weight: bold;
        position: relative;
    }

    .sectionLogIn input::placeholder{
        color: rgba(38, 38, 38, 0.295);
        padding: 15px;
        text-align: center;
        font-size: 25px;
    }

    .sectionLogIn button{
        background-color:#A6D48A ;
        color: white;
        font-size: 22px;
        width: 306px;
        height: 64px;
        font-weight: bold;
        top:0;
    }

    #sigInMobile{
        justify-content: center;
        position: relative;
        top: 2em;
    }
    #linkRegister{
        color:#F37724;
        font-weight: bolder;
        background-color: rgba(255, 255, 255, 0);
        border-color: rgba(255, 255, 255, 0);
        font-size: 20px;
    }

    #sigInMobile a{
        font-size: 20px;
        margin-left: 15px ;
        color: #F37724;
    }
    .sectionLogIn input {
        background-color:#F0F0F0 ;
        font-size: 25px;
        color: black;
        border: none;
        border-radius: 10px;
        width: 350px;
        height: 50px;
        text-align: center;
        position: relative;
        margin: 12px;
    }

    #separator{
        position: static;
        height: 5px;
        display: block;
    }

    .lineRight {
        background-color: black;
        width: 8em;
        margin-right: 10px;
        display: inline-block;
    }
    #letter{
        display: inline-block;
        font-size: 18px;
    }
   #sectionLogIn #letter{
        color: black;
    }
    .lineLeft {
        background-color: black;
        width: 8em;
        margin-left: 10px;
        display: inline-block;
    }
    #sigInMobile p{
        display: none;
    }
    .registerView {
        width: 400px;
        height: 460px;
    }
    #registerView h2{
        display: flex;
        color: #7989EC;
        font-size: 28px;
        margin-bottom: 5px;
        position: static;
    }

    .registerView input{
        background-color: #F0F0F0;
        font-size: 25px;
        color: black;
        border: none;
        border-radius: 10px;
        width: 350px;
        height: 35px;
        text-align: center;
        position: relative;
    }
    .registerView #bottonRegister{
        font-size: 21px;
        width: 250px;
        height: 59px;
        margin-top: 10px;
        margin-bottom: 20px;
    }


    .lineRightRegister {
        background-color: black;
        width: 8em;
        left: 6em;
        position: relative;
    }
    .lineLeftRegister {
        background-color: black;
        width: 8em;
        position: relative;
        right: 6em;
        display: block;
        bottom: 1.5em;
    }
    #letterRegister{
        position: relative;
        color: black;
        bottom:13px;
        font-size: 20px;
        font-weight: bold;
    }


    #sectionGoogle{
        display: block;
        position: relative;
        bottom: 66px;
        left: 115px;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    #feed{
        display: grid;
        height: 100%;
        width: 100%;
        grid-template-columns: 30% 70%;
    }
    #feedMainProfile{
    position: relative;
    width: 80%;
    height: 70vh;
    margin: 3em 3em 3em 3em;
    background-color: white;
    border-radius: 1em;

    }
    #bottonMyProfile{
        position: absolute;
        top: 8em;
        border-radius: 20px;
        background-color: black;
        color: white;
        grid-column: 0;
        grid-row: 0;
       font-size: 20px;
       margin-left: 0;
        }
        #bottonPostRecipe{
        position: absolute;
        top: 13em;
        font-size: 20px;
        border-style: none;
        border-radius: 20px;
        background-color: black; 
        color: white;
        grid-column: 0;
        grid-row: 0;
        margin-left: 0;
        }
        #feedMainProfile p {
            top: 8em;
            font-size: 28px;
            font-weight: bold;
        }
        #postUsers{
            display: grid;
            grid-gap: 25px;
        }
        #icon{
            width: 120px;
            height: 120px;
        }
        #feedMainPost{
            display: grid;
            height: 70%;
            grid-template-columns: 90%;
            width: 90%;
            margin: 3em 0.5em 0 1.5em;
            background: white;
            border-radius: 15px;
            justify-content: center;
            }
            #imageRecipe{
                text-align: center;
            }

            #feedMainPost textarea{
                width: 30em;
                height: 10em;
            }
            #titlePostMain{
                font-size: 30px;
                margin: 25px;
                text-align: center;
            }
            .postView{
                background-color: white;
                height: 150px;
                border-radius: 10px;
                display: grid;
                grid-template-columns: 20% 80%;

            }
            #postTitle{
                font-style: italic;
                font-size: 20px;
                margin-top: 15px;
            }
            #iconsPosts{
                display: grid;
                grid-template-columns: 20% 80%;
                width: 100%;
                top: 30px;
                bottom: 0;
                position: relative;
            }
            .postIcon{
                width: 20px;
                margin-left: 15px;

            }
            #likeCounter {
                display: inline-block;
                position: relative;
                background-color: black;
                border-radius: 10px;
                text-align: center;
            }
            #counter{
                color: white;
            }
            #iconsInteractive {
                display: inline-block;
                position: relative;

            }
            #btnLogOut{
                position: relative;
                z-index: 1 ;
                display: flex;
                color: red;
                background: aqua;
                border: none;
                font-weight: bold;
                width: 200px;
                top: 0;
                margin: 0;


            }


    #myFriends{
        display: grid;
        grid-column: 3/3;
        height: 70%;
        bottom: 7em;
        width: 100%;
        background: white;
        margin: 3em 0.8em 1em 0;
        margin-left: 1em;
        border-radius: 1em;
    }
    #myFriends #titleMyFriends, #myFriends #nameFriend {
        display: block;
        color: #7989EC;
        font-size: 30px;
        text-align: center;
        margin-top: 10px;
        font-weight: bold;
        padding-top: 5px;
    }
    #iconMyFriend{
        border: 1px solid black;
        border-radius: 50%;
        width: 80px;
        height: 80px;
        position: absolute;
        top: 35%;
        justify-self: center;
    }
    #myFriends #nameFriend{
        display: flex;
        position: absolute;
        font-size: 20px;
        color: black;
        top: 45%;
        left: 79%;
    }
    #postPublic{
    width: 80px;
    height: 80px;
    bottom: 24em;
    left: 31em;
    }
    footer {
        background-color:#D9D9D9;
        display: flex;
        width: 100%;
        height: 80px;
        text-align: center;
        align-items: center;
        justify-content: center;
        position: fixed;
        bottom: 0;
    }
    footer .creators{
        display: flex;
        position: absolute;
        bottom: 20px;
        font-size: 12px;
        margin-top: 8px;
        }
    .fa-js {
        font-size: 12px;
    }

    .copyRightsContainer{
        display: flex;
        justify-content: space-between;
        padding: 5px;
        font-family: 'Montserrat', sans-serif;
    }

    .copyRightsContainer i{
        font-style: normal;
        font-family: 'Montserrat', sans-serif;
    }
}
