*{
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: #F37724;
    height: 58px;
    margin: auto;
    text-align: center;
}

header img {
    height: 70px;
    text-align: center;
}

header i {
    height: 30px;
    text-align:right;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    z-index: -1;
}

.sectionLogIn {
    background-color: #FFFFFF;
    border-radius: 20px;
    margin-top: 40vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 246px;
    height: 206px;
}

.sectionLogIn p{
    display: none;
}

.sectionLogIn input{
    background-color:#F0F0F0 ;
    color: rgba(0, 0, 0, 0.207);
    border: none;
    margin: 10px;
    border-radius: 10px;
    width: 200px;
    height: 40px;
}

.sectionLogIn input::placeholder{
    color: rgba(38, 38, 38, 0.89);
    padding: 15px;
    font-weight: bold;
    text-align: center;
}

.sectionLogIn a{
    color: rgb(20, 20, 20);
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}

.sectionLogIn button{
    background-color:#A6D48A ;
    font-weight: bold;
    color: white;
    border: none;
    margin: 10px;
    border-radius: 30px;
    width: 166px;
    height: 35px;
    font-weight: bold;
}
.sectionLogIn button:hover {
    background-color:black ;
    cursor: pointer;
}

#sigInMobile {
    margin: 10px;
    display:flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#sigInMobile p{
    color: white;
    font-weight: bold;
}

#sigInMobile a{
    display: flex;
    color: #F37724;
    font-weight: bold;
}

.registerView {
    background-color: #FFFFFF;
    border-radius: 20px;
    margin-top: 15vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 320px;
}
.registerView h2{
    color: #7989EC;
    margin-block-end: 1.5em;
    margin-bottom: inherit;
    /* font-weight: normal; */
}

.registerView input {
    background-color:#F0F0F0 ;
    color: black;
    /* color: rgba(0, 0, 0, 0.207); */
    border: none;
    margin: 8px;
    border-radius: 10px;
    width: 200px;
    height: 40px;
}
#sectionGoogle p{
font-family: 'Roboto', sans-serif;
color: #FFFFFF ;
}

#bottonGoogle{
    background: #4285F4

}

#imgGoogle{
    width: 3em;
    height: 3em;
    /* size: 14px; */
    /* width: dp(18);
    height: dp(18); */
    background: #FFFFFF;
}

footer {
    display: none;
}

@media screen and (min-width: 768px) and (max-width:1023px){

    #sigInMobile {
        margin: 10px;
        display:flex;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    
    #sigInMobile p{
        color: white;
        font-weight: bold;
        padding: 5px 10px 5px 10px;
        font-size: 15px;
    }
    
    #sigInMobile a{
        display: flex;
        color: black;
        font-weight: bold;
        font-size: 15px;
    }

    footer {
        background-color:#D9D9D9;
        display: flex;
        width: 824px;
        height: 122px;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .sectionLogIn input::placeholder{
        color: rgba(38, 38, 38, 0.89);
        padding: 15px;
        font-weight: bold;
        text-align: center;
        font-size: 18px;
    }

}

@media screen and (min-width:1024px) {
    *{
        margin: 0px;
    }

    main{
        display: flex;
        flex-direction: column;
        justify-content:right;
        align-items:flex-end;
        margin-right: 50px;
        height: auto;
    }

    .sectionLogIn {
        background-color: #FFFFFF;
        border-radius: 20px;
        margin-top: 5vh;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 400px;
        height: 410px;
    }
    .sectionLogIn p{
        display: flex;
        color: #7989EC;
        font-size: 28px;
        margin: 25px;
        font-weight: bold;
    }
    .sectionLogIn input{
        background-color:#F0F0F0 ;
        color: rgba(0, 0, 0, 0.207);
        border: none;
        margin: 15px;
        border-radius: 27px;
        width: 368px;
        height: 57px;
    }

    .sectionLogIn button{
        background-color:#A6D48A ;
        color: white;
        font-size: 22px;
        margin-top: 20px;
        width: 306px;
        height: 64px;
        font-weight: bold;
    }

    .sectionLogIn input::placeholder{
        color: rgba(38, 38, 38, 0.295);
        padding: 15px;
        text-align: center;
        font-size: 25px;
    }

    .sectionLogIn #sigInMobile{
        display:flex;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    .sectionLogIn #sigInMobile p{
        display: flex;
        font-size: 18px;
        color: black;
    }
    .sectionLogIn #sigInMobile a{
        display: flex;
        font-size: 18px;
        color: rgb(228, 87, 0);
    }
    .sectionLogIn input {
        background-color:#F0F0F0 ;
        font-size: 25px;
        color: black;
        border: none;
        margin: 8px;
        border-radius: 10px;
        width: 300px;
        height: 70px;
        text-align: center;
    }

    #sigInMobile {
        margin: 10px;
        display:flex;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    
    #sigInMobile p{
        color: white;
        font-weight: bold;
        padding: 5px 10px 5px 10px;
        font-size: 18px;
    }
    
    #sigInMobile a{
        display: flex;
        color: black;
        font-weight: bold;
        font-size: 18px;
    }

    header {
        background-color: #F37724;
        height: 112px;
        margin: auto;
        text-align: center;
    }
    
    header img {
        height: 140px;
    }

    footer {
        background-color:#D9D9D9;
        display: flex;
        width: 1440px;
        height: 102px;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .fa-js {
        font-size: 10px;
    }

    .copyRightsContainer{
        display: flex;
        justify-content: space-between;
        padding: 5px;
        font-family: 'Montserrat', sans-serif;
    }

    .copyRightsContainer i{
        font-style: normal;
        font-family: 'Montserrat', sans-serif;
    }

}